<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Formulário de Login</h1>
    <div class="forms">
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        errorText="Invalid email"
        ngModel
        email

        id="form"
      ></ion-input>
      <ion-input
        type="password"
        fill="solid"
        label="Password"
        labelPlacement="floating"
        errorText="Invalid password"
        ngModel
        email

        id=""
      ></ion-input>
      <div id="ion-button">
        <ion-button id="button" shape="round" routerLink="/logado">
          Login
        </ion-button>
        <ion-button id="button" shape="round">
          Cadastrar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
